* {
  /* border: 4px solid hotpink; */
}




html, body, h1, header, footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #127BCA;
}

h1 {
    color: rgba(255,255,255,.7);
    font-size:6vw;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.form-field {
    font-size: 1vw;
    text-align: center;
}

#btn-submit {
    font-size: 1vw;
    border-radius: 20px;
    background-color: hotpink;
    margin: 15px;
}

#validationFailure{
    margin: 0;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ff0000; 
}

table {
    
    border: 3px solid lightgray; 
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

th, td {
    border: 1px solid lightgray;
    padding: 5px;
}

footer {
    color: rgba(255,255,255,.7);
    font-size: 1vw;
    left: 0px;
    text-align: center;
    width: 100%;
}