<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/main.css">
    <title>Virus Scan Audit Tracking</title>
</head>
<body>

        <h1>Virus Scan Audit Tracking</h1>
        
        {{template "nav"}}

        <form method="post" action="add">
            <fieldset>
                <legend>Sign Off a Scanner</legend>
                <input id="equipment-input" class ="form-field" name="equipment" type="text" placeholder="Scanner Name" required>
                <input id="date-input" class ="form-field" name="date" placeholder= "yyyy-mm-dd" type="date" required>
                <input id="tech-input" class ="form-field" name="tech" type="text" placeholder="Audited By" required>
                <input id="btn-submit" type="submit" value="Submit">
            </fieldset>
        </form>

        <table>
                <tr>
                    <th>Scanner</th>
                    <th>Date Audited</th>
                    <th>Audited By</th>
                </tr>
                {{range .List}}
                <tr>
                    <td>{{.Equipment}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.Tech}}</td>
                </tr>
                    
                {{end}}
            </table> 

    {{template "footer"}}
</body>
</html>