<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/main.css">
    <title>D1 Virus Scanners</title>
</head>
<body>
    <h1>Scanner Locations</h1>

    {{template "nav"}}

    <form method="post" action="addScanner">
            <fieldset>
                <legend>Add a Scanner</legend>
                <input id="equipment-input" class ="form-field" name="equipment" type="text" placeholder="Scanner Name" maxlength="25" required>
                <input id="fab-input" class ="form-field" name="fab" type="text" placeholder="Building" maxlength="25" required>
                <input id="location-input" class ="form-field" name="location" type="text" placeholder="Specific Location" maxlength="500" required>
                <input id="btn-submit" type="submit" value="Submit">
            </fieldset>
        </form>

    <table>
        <tr>
            <th>Scanner</th>
            <th>Building</th>
            <th>Location</th>
        </tr>
        {{range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Fab}}</td>
                <td>{{.Location}}</td>
            </tr>
        {{end}}
    </table>

    {{template "footer"}}
</body>
</html>